cmd/futuremine/config1.toml
cmd/futuremine/config2.toml
cmd/futuremine/config5.toml
cmd/futuremine/futuremine
cmd/futuremine/data
cmd/wallet/keystore
cmd/wallet/wallet

cmd/boot/boot
config1.toml

data
.idea