cmd/futuremine/config1.toml
cmd/futuremine/config2.toml
cmd/futuremine/config.toml
config1.toml
config.toml
wallet.toml
cmd/futuremine/data
cmd/wallet/keystore
data
cmd/wallet/wallet.toml
cmd/wallet/wallet
cmd/futuremine/config5.toml
cmd/boot/boot
cmd/futuremine/futuremine
.idea