# testnet or mainnet
TestNet = false

# chain data directory
Data = ""

# Logging switch
Logging = true

# P2P configuration
#Externale ip (default = "0.0.0.0")
ExternalIp = "0.0.0.0"

# Custom boot
Boot = "/ip4/8.210.100.179/tcp/19100/ipfs/16Uiu2HAkv33SisCHpXE5ub4gxyRU5jCagAXCNoCPMUkQ82GYhC4i"

# P2P port (default = "19160")
P2PPort="29160"


# RPC configuration, (default = 19161)
RpcPort = "29161"
# RPC password
RpcPass = ""

# TLS switch
RpcTLS = false

# If it is a block generating node, it needs to be configured
# Json file address of the address private key
KeyFile = ""
# Password to decrypt the private key json file
KeyPass = ""

